# Machine Learning

#### General Machine Learning Steps

1. Import the data
2. Clean the data
3. Split the data into training/test sets
4. Crete a model
5. Train the model
6. Make predictions
7. Evaluate and improve predictions

### Step 1: Import The Data

In [ ]:
import pandas as pd
import matplotlib as plt

In [ ]:
df = pd.read_csv('vgsales.csv', encoding='ISO-8859-1')

### Step 1.1: Understand The Data

In [ ]:
print(df.shape[0])
print(df.shape[1])

In [ ]:
df.duplicated().sum()

In [ ]:
df.isnull().sum()

In [ ]:
df.dtypes

In [32]:
df.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [ ]:
missingData = df.isnull().sum().sort_values(ascending=False)

missingData.plot(kind='barh')

In [ ]:
for column in df.columns:
    print(f"{column} : {len(df[column].unique())}")